<div id="FormHospital" class="card margintopForm">
  <form [formGroup]="formCentroMedico" (ngSubmit)="agregarCentroMedico()" *ngIf="!isCorrect">
    <h3>Datos del Centro Médico</h3>
    <div class="form-group">
      <label for="nombre_cm">Nombre:</label>
      <input type="text" class="form-control" id="nombre_cm" placeholder="Ingresa tu Nombre" name="nombre"
             [(ngModel)]="formCentroMedico.value.Nombre"
             formControlName="Nombre" uppercase>
    </div>

    <div class="form-group mt-3">
      <label for="direc">Direccion:</label>
      <input type="text" class="form-control" id="direc" placeholder="Ingresa la Direccion" name="direc"
             [(ngModel)]="formCentroMedico.value.Direccion"
             formControlName="Direccion" uppercase>
    </div>

    <div class="form-group mt-3">
      <label>Tipo de centro medico:</label>
      <select class="form-control show-tick"
              formControlName="Tipo_centro_medico">
        <option *ngFor="let tipo of tipo_centro_medico" [value]="tipo.value">
          {{tipo.viewValue}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary text-center">Suscribir</button>
  </form>

  <!--Formulario de suscripcion -->

  <form [formGroup]="formSuscripcion" *ngIf="isCorrect" (ngSubmit)="agregarSuscripcion()">
    <h3>Datos de suscripción</h3>
    <div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu Nombre" name="nombre"
               [(ngModel)]="formCentroMedico.value.Nombre_persona"
               formControlName="Nombre_persona" uppercase>
      </div>

      <div class="form-group">
        <label for="apellido">Apellidos:</label>
        <input type="text" class="form-control" id="apellido" placeholder="Apellido"
               [(ngModel)]="formCentroMedico.value.Apellidos_persona"
               formControlName="Apellidos_persona" uppercase>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha de Inscripción:</label>
        <input type="date" class="form-control" id="fecha"
               formControlName="Fecha_inscripcion">
      </div>

      <div class="form-group">
        <label for="cedula">Cedula Profesional:</label>
        <input type="text" class="form-control" id="cedula" placeholder="Cedula Profesional"
               [(ngModel)]="formCentroMedico.value.Cedula"
               formControlName="Cedula" uppercase>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" name="email"
               formControlName="email">
      </div>

      <div class="form-group mt-3">
        <label>Tipo de suscripcion:</label>
        <select class="form-control show-tick"
                formControlName="Tipo_suscripcion">
          <option type="number" *ngFor="let tipo of tipo_suscripcion" [value] = [(tipo.value)]>
            {{tipo.viewValue}}
          </option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary text-center">Suscribir</button>

  </form>
</div>
